$buttonColor: #577BF9

#container
    background: #F6F6FA
    height: 100vh
    display: grid
    grid-template-rows: 25% 75%
    grid-template-columns: 100%
    grid-template-areas: "search_bar" "inventory_bar"
    color: white

    #search_add_bar
        grid-area: search_bar
        //background-color: #423
        display: grid
        justify-items: center
        align-items: end

        #box1
            background-color: white
            border-bottom: 1px solid black
            width: 70%
            height: 50%
            display: inline-block
            align-items: end

            #contents_box
                display: block
                //background: blue
                position: relative
                top: 50%

                input
                    all: unset
                    width: 15%
                    height: 37px
                    border: 2px solid #e4e4f1
                    //background-color: white
                    border-radius: 8px
                    color: black
                    margin-left: 0.5%
                    padding-left: 0.5%
                    overflow: hidden
                    position: relative

                .custom_button
                  all: unset
                  background-color: $buttonColor
                  border-radius: 8px
                  height: 40px
                  width: 10%
                  padding: 2px
                  margin-right: 0.5%
                  text-align: center
                  position: relative
                  float: right

    #inventory_table
        grid-area: inventory_bar
        display: grid
        justify-items: center

        #box2
            background-color: white
            width: 70%
            height: 20%
