.Mainscreen {
    display              : grid;
    height               : 100vh;
    grid-template-rows   : 1fr;
    grid-template-columns: 14% 86%;
    grid-template-areas  : "sidebar overview";
    margin               : 0px;
    padding              : 0px;
}