.CreateAccount {
  height: 100vh;
  width: auto;
  overflow: hidden;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right";
}

.Left {
  grid-area: left;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Right {
  grid-area: right;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 0.5fr 3fr;
}

.LoginHeader {
  font-size: 16px;

  span {
    color: #808080;
    float: right;
    padding: 3%;
  }

  a {
    color: #3d99f2;
  }
}

.InnerFormContainer {
  width: auto;
  height: 100vh;
  margin-left: 10%;
  margin-right: 100px;
}

h1 {
  font-size: 42px;
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.Bar {
  background-color: #f6f6f6;
  width: 509px;
  height: 49px;
  border-radius: 10px;
  overflow: hidden;

  input {
    all: unset;
    height: 49px;
    width: 509px;
    margin-left: 20px;
  }
}

form {
  margin-left: 20px;
}

.FormField {
  padding: 3%;
}

.EmailField {
  input {
    position: relative;
    margin-left: 3%;
  }
}

.PasswordFormField {
  display: flex;
  width: auto;
  padding-top: 1%;

  .Bar {
    width: 210px;
    height: 49px;
  }

  .ConfirmationField {
    margin-left: 10%;
  }

  .PasswordField {
    margin-left: 3%;
  }
}

.PrivacyPolicyField {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  padding-top: 20px;
}

.CheckBoxField {
  display: grid;
  justify-items: center;
  align-items: center;
}

.CheckBox {
  width: 32px;
  height: 32px;
  background-color: #f6f6f6;
}

.CreateAccountButton {
  width: 509px;
  border-radius: 10px;
  height: 49px;
  color: white;
  background-color: #577bf9;
  display: grid;
  align-items: center;
  justify-items: center;
}

.CreateAccountButton:hover {
  cursor: pointer;
}

.ButtonField {
  display: grid;
  justify-content: center;
  align-content: center;
  margin-top: 5%;
}
