$background: #ffffff;
$usercolor: #424266;
$secondary: #8f8daa;
$badgecolor: #587af9;

.Overview {
  grid-area: overview;
  display: grid;
  background-color: skyblue;
  height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: 8% 92%;
  grid-template-areas:
    "navigationbar"
    "contentbox";
}

.NavigationBar {
  grid-area: navigationbar;
  background-color: $background;
  display: grid;
  grid-template-rows: 100%;
  width: 100%;
  height: 8%;
  grid-template-columns:  56% 56%;
  grid-template-areas: "searchbarframe notificationframe";
  z-index: 2;
  position: fixed;

  .SearchBarFrame {
    grid-area: searchbarframe;
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: $background;

    #SearchBar {
      width: 50%;
      border-radius: 8px;
      border: 2px solid #e4e4f1;
      height: 40%;
      margin: 0 auto;
      display: flex;
      place-items: center;
      position: relative;
      background-color: #ffffff;
      overflow: hidden;

      input {
        all: unset;
        padding-left: 2%;
      }
    }
  }

  .NotificationFrame {
    grid-area: notificationframe;
    display: grid;
    grid-template-columns: 17% 19% 18%;
    grid-template-rows: 100%;
    grid-template-areas: "dateframe notificationiconframe profileframe";
    background-color: $background;
  // width: 100%;

    .DateFrame {
      grid-area: dateframe;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        margin: 0;
        padding: 0;
        font-size: 1em;
        color: $secondary;
      }
    }
    .NotificationIconFrame {
      grid-area: notificationiconframe;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $background;

      #Bell {
        margin: 0;
        padding: 0;
        position: relative;
      }

      #badge {
        height: 20px;
        width: 20px;
        border-radius: 20px;
        background-color: $badgecolor;
        position: relative;
        right: 17px;
        bottom: 13px;
        z-index: 1;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          margin: 0;
          padding: 0;
          position: relative;
          font-size: x-small;
        }
      }
    }

    .ProfileFrame {
      grid-area: profileframe;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "username profilephoto";

      #UserName {
        grid-area: username;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      #ProfilePhoto {
        grid-area: profilephoto;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.ContentBox {
  grid-area: contentbox;
  margin: 0;
  padding: 0;
}

.HoverFrame {
  background-color: white;
  width: 10.7%;
  height: 250%;
  position: absolute;
  z-index: -1;
  top: -150%
}
