$background: #ffffff;
$bar-color: #577bf9;
$tabs: 7;

.Sidebar {
    grid-area: sidebar;
    background-color: $background;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 26% 43% 32%;
    grid-template-areas:
        "profileframe"
        "navigationframe" "supportframe";
    height: 100vh;
}

#ProfileFrame {
    grid-area: profileframe;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "photoframe" "requestframe";

    #PhotoFrame {
        grid-area: photoframe;
        background-color: $background;
        display: grid;
        justify-items: center;
        align-content: center;
        align-items: center;
        margin: 5px;
    }

    #RequestFrame {
        grid-area: requestframe;
        display: grid;
        justify-items: center;
        align-items: center;
        height: 100%;

        #RequestButtonFrame {
            background-color: #577bf9;
            display: grid;
            border-radius: 8px;
            color: #ffffff;
            width: 75%;
            padding: 7%;
            text-align: center;

            p {
                padding: 0;
                margin: 0;
                font-weight: bold;
                font-size: 1em;
            }
        }

        #RequestButtonFrame:hover {
            cursor: pointer;
        }
    }
}

#NavigationFrame { 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat($tabs, 1fr);
    grid-template-areas: "navblock1";

    #nav-block2 {
        display: flex;
        align-items: center;
    }

    .NavigationAlignment{
        margin: 0;
        padding: 0;
        width: 100%;
        
        img {
            float: left;
            position: relative;
            left: 26%;
        }

        p {
            left: 30%;
            top: 7px;
            position: relative;
            margin: 0;
            padding: 0;
        }
    }

    .NavigationBlock {
        display: flex;
        align-items: center;

        p {
            margin: 0 0 0 2%;
            font-weight: 500;
        }

        a {
            text-decoration: none;
            color: inherit;
        }
    }

    .NavigationBlock:hover {
        cursor: pointer;
        background-color: #f8f8fb;
    }
}
#SupportFrame {
    grid-area: supportframe;
    display: flex;
    align-items: center;
    justify-content: center;

    img:hover {
        cursor: pointer;
    }
}

.collapse {
    #NavigationFrame {

    .NavigationAlignment{
        margin-left: 15%;
        
        img {
            float: left;
            position: relative;
            left: 30%;
        }

        p {
            left: 30%;
            top: 7px;
            position: relative;
            margin: 0;
            padding: 0;
        }
    }
    }    

    #PhotoFrame {
        width: 50%;
        left: 20%
    }

    #ProfileFrame {
        grid-template-rows: 1fr;
        position: relative;
        top: 20%;

        #PhotoFrame {
            position: relative;
            bottom: 25%;
        }
    }

    #RequestFrame {
        display: none !important;
    }

    #SearchBar {
        input {
            all: unset;
        }
        img {
            position:relative;
            right: 100%;
        }
    }

    #SupportFrame {
        width: 100% ;
        left: 25%;
        position: relative;

        img {
            width: auto;
            position: absolute;
            left: 0.6%;

        }
    }
}