.Login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "left right";
  width: auto;
  height: 100vh;
  background-color: #ffffff;
}

.Left {
  display: grid;
  grid-area: left;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "form";
  // background-color: green;
  align-items: center;
  justify-content: center;
}

.MessageField {
  height: 10%;
  bottom: 90%;
  width: 20%;
  left: 30%;
  position: fixed;
  font-size: 16px;
  // background-color: hotpink;

  span {
    color: #808080;
    float: right;
    margin-top: 20%;
  }

  a {
    color: #3d99f2;
  }
}

.LoginField {
  grid-area: form;
  height: 70%;
  width: 100%;
  // background-color: yellow;

  h1 {
    font-size: 46px;
    font-weight: bold;
    margin-left: 15%;
  }
}

#LoginFormField {
  display: grid;
  justify-content: center;

  .ButtonField {
    margin-left: 5%;
  }
}
